{% extends 'base.html' %}

{% load static %}
{% block content%}

<body>
    <div class="container mt-5">
        <h2 class="text-center">Ajouter une nouvelle mesure</h2>
        {% if messages %}
                        <div class="EZZZAr alert alert-success">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
        <form method="post" class="mt-4 shadow p-4 bg-light rounded">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_date" class="form-label">Date</label>
                {{ form.date }}
            </div>    
            
            
            
            <div class="mb-3">
                <label for="id_heure" class="form-label">Heure</label>
                {{ form.time_slot }}
            </div>
            <div class="mb-3">
                <!-- <label for="id_temperature" class="form-label">Température (°C)</label> -->
                {{ form.temperature }}
            </div>
            <div class="mb-3">
                <!-- <label for="id_humidity" class="form-label">Humidité (%)</label> -->
                {{ form.humidity }}
            </div>
            <div class="mb-3">
                <!-- <label for="id_egg_count" class="form-label">Nombre d'œufs</label> -->
                {{ form.egg_count }}
            </div>
            <div class="mb-3">
                <!-- <label for="id_chicken_count" class="form-label">Nombre de poules</label> -->
                {{ form.chicken_count }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Ajouter</button>
        </form>

        <div class="text-center mt-3">
            <a href="/" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>
    {% endblock content %}
